<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
</head>

<body>
    <div class="root">
        <div class="centro">
            <form action="painel" method="post" class="box">
                <div class="titulo">
                    <a id="logo" target="_blank" href="https://www.linkedin.com/in/david-lima-duarte-7591b2134">
                        <img src="/static/img/logo-on4.png" alt="on-software">
                    </a>
                </div>
                <input class="input" type="text" placeholder="Usuário" name="user" required>
                <input class="input" type="password" placeholder="Senha" name="psw" required>
                <input type="submit" class="btn" value="Entrar">
            </form>
            {% if request.args['erro'] %}
                <div class="erro">
                    <p>{{ request.args['erro'] }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>

</html>