<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Painel</title>
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="stylesheet" href="/static/css/accordion.css" />
    <link rel="stylesheet" href="/static/css/toggle.css" />
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/jquery.mobile-1.5.0-rc1.js"></script>
</head>

<body>
    <div class="container">
        <div class="legenda">
            <a target="_blank" href="https://www.linkedin.com/in/david-lima-duarte-7591b2134">
                <img src="/static/img/logo-on4.png" alt="on-software">
            </a>
        </div>
        {%- for grupo in Grupos %}
            <div class="tab">
                <input type="checkbox" id="check-{{grupo.sigla}}" hidden>
                <div class="tab-header">
                    <img id="{{grupo.sigla}}" src="/static/img/luz-{{grupo.status}}.svg" alt="luz" width="18px">
                    <label for="check-{{grupo.sigla}}">{{grupo.nome}}</label>
                </div>
                <div class="tab-content">
                    <div class="content">
                         {%- for device in grupo.devices %}
                            <div class="row">
                                <label for="{{device.pino}}">{{device.nome}}</label>
                                <input type="checkbox" id="{{device.pino}}" class="toggle-switch" onchange="send(this);" {% if device.saida %}checked{% endif %}>
                            </div>
                        {%- endfor %}
                    </div>
                </div>
            </div>
        {%- endfor %}
    </div>
</body>

<footer>
    <script>
        function send(input){
            device = input.id;
            saida = input.checked;

            json = '{"device": ' + device + ', "saida": ' + saida + '}';
            console.log(json);

            $.ajax({
                url: 'http://127.0.0.1:5000/comando',
                contentType: 'application/json',
                cache: false,
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify(json),
                success: function (request) {
                    console.log(request);

                    id = '#' + request['sigla'];
                    img = request['status'];

                    $(id).attr('src', '/static/img/luz-' + img + '.svg');
                },
                error: function(e) {
                     console.log(e.responseText);
                 }
            });
        }
    </script>
</footer>

</html>