automacao/.idea/*
automacao/desktop.ini
automacao/auth/__pycache__/__init__.cpython-36.pyc
automacao/auth/__pycache__/Autenticar.cpython-36.pyc
automacao/auth/__pycache__/Usuario.cpython-36.pyc
automacao/devices/__pycache__/Grupo.cpython-36.pyc
automacao/devices/__pycache__/Grupo.cpython-36.pyc
automacao/devices/__pycache__/Grupo.cpython-36.pyc
automacao/devices/__pycache__/Grupo.cpython-36.pyc
automacao/devices/__pycache__/Grupo.cpython-36.pyc
