@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

.ui-page.ui-page-theme-a.ui-page-active {
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
    background: #444;
    overflow: hidden;
}

.container {
    background: #F3F3F3;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    width: 500px;
    padding: 5px;
    margin: auto;
}

.legenda {
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Hind', sans-serif;
    background-color: #FFF;
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    height: 55px;
    padding: 5px;
    width: 100%;
}

.legenda a, .legenda img {
    display: flex;
    margin: auto;
    height: 40px;
    width: 145px;
}

.legenda a:hover {
    opacity: .5;
}

.row {
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 5px auto;
    display: flex;
    width: 100%;
    padding: 0 70px;
}

@media (max-width: 450px) {
    .container {
        width: 100%;
    }
}